asn1crypto==0.24.0
attrs==20.3.0
Automat==20.2.0
CacheControl==0.12.6
cachetools==3.1.1
certifi==2020.11.8
chardet==3.0.4
constantly==15.1.0
crcmod==1.7
cryptography==2.1.4
cssselect==1.1.0
decorator==4.4.2
enum==0.4.7
enum34==1.1.10
evdev==1.3.0
ez-setup==0.9
firebase-admin==3.2.1
functools32==3.2.3.post2
futures==3.3.0
gevent==1.2.2
gevent-websocket==0.9.3
google-api-core==1.26.2
google-api-python-client==1.12.8
google-auth==1.28.0
google-auth-httplib2==0.1.0
google-cloud-core==1.6.0
google-cloud-firestore==1.9.0
google-cloud-storage==1.36.2
google-resumable-media==1.2.0
googleapis-common-protos==1.52.0
greenlet==0.4.12
grpcio==1.36.1
httplib2==0.19.0
hyperlink==21.0.0
idna==2.6
imageio==2.4.1
incremental==21.3.0
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
lxml==4.6.2
maps==5.1.1
moviepy==1.0.3
msgpack==1.0.2
mysqlclient==1.3.10
numpy==1.16.6
packaging==20.9
pandas==0.24.2
parsel==1.6.0
Pillow==6.2.2
proglog==0.1.9
Protego==0.1.16
protobuf==3.15.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycrypto==2.6.1
PyDispatcher==2.0.5
pygobject==3.26.1
PyHamcrest==1.10.1
pynput==1.7.1
pyOpenSSL==20.0.1
pyparsing==2.4.7
python-dateutil==2.8.1
python-xlib==0.27
pytz==2020.4
pyxdg==0.25
queuelib==1.5.0
requests==2.25.0
rsa==4.5
Scrapy==1.8.0
SecretStorage==2.3.1
service-identity==18.1.0
simplejson==3.17.2
six==1.15.0
tqdm==4.53.0
Twisted==20.3.0
typing==3.7.4.3
uritemplate==3.0.1
urllib3==1.26.2
w3lib==1.22.0
zope.interface==5.2.0
